/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
.DS_Store
.vscode
.user.ini
/storage
.styleci.yml
project.txt
requirement.md
todo.md
sql/
field.md
tasks.md
